@import 'mixins'

#app .messages
  box-flex(1)
  hbox()
  
#overlay > article
  width: 300px
  margin: 10% auto

.composeMessage
  background: #F4F4F4
  border-radius(4px)
  box-shadow(0, 6px, 20px, rgba(0,0,0,0.4))
  
  header
    inset-line(0.7)
    vbg-gradient(lighten(#F4F4F4, 10%), darken(#F4F4F4, 5%))
    border-bottom: 1px solid lighten(#CCCCCC, 10%)
    height: 35px
    line-height: 35px
    padding: 0 10px
    border-radius: 4px 4px 0 0

    h2
      margin: 0
      font: 20px arial,lucida,helvetica,arial,sans-serif
      font-weight: normal
      text-shadow: 0 1px 0 #FFF
      float: left
      line-height: 36px
    
  article
    inset-line()
    padding: 10px 10px 2px 10px
    overflow: hidden
    
    input, textarea
      margin: 0 0 10px 0
      border-box()
      display: block
      width: 100%
      font-size: 15px
      padding: 5px
      // font: 15px "helvetica neue", helvetica, arial, sans-serif        
      