@import 'mixins'

#app .messages > aside
  display: block
  background: #FFF
  width: 250px
  vbox()
  
  .items
    box-flex(1)
    overflow-x: auto
  
  .item
    border-bottom: 1px solid lighten(#D1D1D1, 20%)
    padding: 14px
    overflow: hidden
    cursor: pointer
    
    img
      width: 38px
      height: 38px
      border-radius(5px)
      box-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.3))
      float: left
      margin-right: 13px
      
    .subject
      ellipsis()
      margin: 1px 0 2px
      
    .body
      ellipsis()
      color: lighten(#52585D, 30%)
    
    span
      display: block
            
    &.active
      background: lighten(#F4F4F4, 20%)
      -webkit-box-shadow: inset 1px 0 2px rgba(0, 0, 0, 0.1), inset -1px 0 2px rgba(0, 0, 0, 0.1)
      text-shadow: 0 1px #FFF
      
    &.unread
      font-weight: bold

  header
    inset-line(0.7)
    vbg-gradient(lighten(#F4F4F4, 10%), darken(#F4F4F4, 5%))
    border-bottom: 1px solid lighten(#CCCCCC, 10%)
    height: 35px
    line-height: 35px
    padding: 0 10px
    -webkit-border-radius: 3px 3px 0 0
  
    h2
      margin: 0
      font: 20px arial,lucida,helvetica,arial,sans-serif
      font-weight: normal
      text-shadow: 0 1px 0 #FFF
      float: left
      line-height: 36px
      
    img
      width: 20px
      height: 20px
      float: right
      margin: 8px 0
      cursor: pointer
      
  .search
    padding: 8px 8px
    border-bottom: 1px solid lighten(#CCCCCC, 10%)
    vbg-gradient(darken(#F4F4F4, 5%), darken(#F4F4F4, 10%))
    inset-line()
    display: none
    
    input[type=search]
      box-layout()
      width: 100%
      outline: none
      opacity: 0.6
      transition()
      
      &:hover
        opacity: 1