/*
 *= require theme
 *= require_self
 *= require_tree ./app
*/

@import 'mixins'

// .stack > *:not(.active)
//   display: none
  
body, html
  vbox()
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(255, 255, 255, 0.08))), url(/assets/blacky.png) repeat
  
#app
  margin: 10px
  border-radius(4px)
  box-flex(1)
  hbox()
  overflow: hidden
      
  .vdivide
    hbg-gradient(lighten(#F4F4F4, 10%), darken(#F4F4F4, 5%))
    width: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-width: 0 1px 0 1px
    border-right-color: rgba(0, 0, 0, 0.2)
    
  > .stack
    box-flex(1)
    hbox()